{% extends "base.html" %}

{% block title %}Glam2Commons Help page{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

    <div id=customtext>
        <p>This tool is called glam2commons. Here you will be able to upload images from a set of GLAMs to Wikimedia Commons easily.</p>
        <center>
            <h3>How to use the tool</h3>
        </center>
        <p>Step 1: Login with Wikimedia Commons.</p>
        <p>Step 2: Choose the GLAM from the dropdown.</p>
        <p>Step 3.a: Enter the URL or Unique ID of the image if known.</p>
        <p>Step 3.b: Or enter a Search Term.</p>
        <p>Step 4: You may optionally provide the categories of the images as well.</p>
        <p>Step 5: Hit "Upload or See Image Gallery" button</p>
        <p>Step 6: If you have entered a search string then you will see an image gallery. Choose the images you want 
        to upload and hit "Upload to Commons" button</p>
        <p>The image/images will be uploaded to Wikimedia Commons and you will be shown their location in Wikimedia Commons. To do another upload click on the "Home" menu and repeat the previous steps.</p>
        <hr>
        <p>Note: Some images may be copyright protected hence the tool will attempt to not allow those images to upload to Commons. But the user should also verify that the image has appropriate license for upload.<p>
    </div>
{% endblock %}
