{% extends "base.html" %}

{% block title %}Image Gallery page{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<style>
div.gallery {
    position: relative;
    margin: 13px;
    border: 1px solid #ccc;
    float: left;
    height: 150px;
    width: auto;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: auto;
    height: 100%;
}

div.desc {
    position: absolute;
    padding: 10px;
    text-align: center;
}

input[type=checkbox]
{
  /* 1.5-times larger Checkboxes */
  -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
  -o-transform: scale(1.3); /* Opera */
  padding-right: 5px;
}
</style>

<div id=customtext>
    <span>Hello {{ username }}!</span>
    <p class="rightside glyphicon glyphicon-log-out"><a href="{{ url_for('logout') }}">Logout</a></p>
</div>
<form action = "{{ url_for('multiUpload', glam = glam_name) }}" method="post">
  <center>
    <label>Please select the checkboxes of the images you want to upload </label>
  </center>
  
  {% for file in image_list %}
  <div id="gallery" class="gallery">
    <a target="_blank" href="{{prefix + uuid_list[loop.index - 1]}}">
      <img src={{file}}>
    </a>
    <input type="checkbox" name="selected" value="{{uuid_list[loop.index - 1]}}"><br>
  </div>
  {% endfor %}

<div id="lower">
  <center>
    <input class="btn btn-primary btn-md" type="submit" value="Upload to Commons"/>
  </center>
</div><!--/ lower-->
</form>
{% endblock %}