{% extends "base.html" %}

{% block title %}Image Gallery page{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<style>
div.gallery {
    position: relative;
    margin: 3px;
    border: 1px solid #ccc;
    float: left;
    height: 100px;
    width: auto;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: auto;
    height: 100%;
}

div.desc {
    position: absolute;
    padding: 10px;
    text-align: center;
}
</style>

<span style="display:inline-block; width: 30px;"></span>

<form action = "{{ url_for('multiUpload', glam = glam_name) }}" method="post">
  <div id=customtext>
    <center>
      <h3>Please select the images you want to upload </h3>
    </center>
  </div>
  {% for file in image_list %}
  <div id="gallery" class="gallery">
    <a target="_blank" href="{{prefix + uuid_list[loop.index - 1]}}">
      <img src={{file}}>
    </a>
    <input type="checkbox" name="selected" value="{{uuid_list[loop.index - 1]}}"><br>
  </div>
  {% endfor %}

<div id="lower">
  <center>
    <input class="btn btn-primary btn-md" type="submit" value="Upload to Commons"/>
  </center>
</div><!--/ lower-->
</form>
{% endblock %}