{% extends "base.html" %}
{% block title %}Sibu Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}      
    <style>
       #customtext {
            background: #ecf2f5;
            width: 100%;
            font-family: "Lato", sans-serif;
            font-size: 20px;
            color: #286090;
            padding-left: 25px;
            margin-top: 20px;
            border-top: 2px solid #ccc;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }
       .rightside { float:right }

    </style>
   {% if username %}
     <div id=customtext>
        <span>Hello {{ username }}!</span>
        <p class="rightside glyphicon glyphicon-log-out"><a href="{{ url_for('logout') }}">Logout</a></p>
     </div>
        {% else %}
      <!--  <label>Sibutest welcomes you. Please login to continue.</label>  -->
      <!--  <p><a href="{{ url_for('login') }}">login</a></p>  -->
        <form method="get" action="{{ url_for('login') }}">
           <center>
              <input class="btn btn-primary btn-md" value="Login to Wikimedia Commons" type="submit">
           </center>
        {% endif %}
{% endblock %}

